.quote-list-table mat-cell{
font-size: 12px !important;
}
.mat-header-row{
    min-height: 47px !important;
}
.mat-header-cell {
  color: #574f4f;
  font-size: 13px;
  font-weight: bold;
}
.mat-sort-header {
  color: #337ab7 !important;
  font-size: 13px;
  font-weight: bold;
}
.mat-column-createdOn {
  padding-right: 20px;
  padding-left: 20px !important;
  flex: 0 0 10% !important;
  justify-content: flex-end;
}
  .mat-column-createdOn.mat-sort-header-content {
    text-align: left !important;
  }

  .mat-column-quoteName{
    flex: 0 0 14% !important;
    width: 14% !important;
    padding-right: 20px;
    padding-left:10px;
  }
  .mat-column-endUserName{
    flex: 0 0 13% !important;
    width: 13% !important;
    padding-right: 10px;
  }
  .mat-column-quoteNumber_rev{
    flex: 0 0 12% !important;
    width: 12% !important;
    padding-left:10px;
  }
  .mat-column-quotePrice{
   
    flex: 0 0 10% !important;
    width: 10% !important;
    justify-content: flex-end;
    padding-right: 20px;
  }
  .mat-column-createdBy{
    flex: 0 0 12% !important;
    width: 12% !important;

  }
.mat-column-modified {
  flex: 0 0 10% !important;
  padding-left: 5px;
  justify-content: flex-end;
}
.mat-column-quoteexpirydate {
  flex: 0 0 10% !important;
  padding-left: 10px;
  justify-content: flex-end;
}
.mat-column-status {
  flex: 0 0 10% !important;
  padding-left: 30px;
}
  ::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
  }


.hide {
  display: none !important;
}
[hidden] {
  display: none !important;
}
