
<div class="container IM-quoteManager">
<div class="row margin-top-lg margin-bottom-lg padding-left-lg">
<h1><strong>Quotes</strong></h1>
</div>


  <div *ngIf="dataSource">
    <div class="mat-elevation-z0">

      <mat-table [dataSource]="dataSource" matSort class="quote-list-table"  matSortActive="createdOn" matSortDirection="desc">

        <ng-container matColumnDef="createdOn">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</mat-header-cell>
          <mat-cell *matCellDef="let quote">{{quote.createdOn | date: 'MM/dd/yyyy'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quoteName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Quote Name</mat-header-cell>
          <mat-cell *matCellDef="let quote">{{quote.quoteName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quoteNumber_rev">
          <mat-header-cell *matHeaderCellDef>Quote ID</mat-header-cell>
          <mat-cell *matCellDef="let quote">
            <a attr.data-id={{quote.quoteGuid}}  href="javascript:void(0);"
               (click)="GoToQuoteDetails(quote)">{{quote.quoteNumber_rev}}</a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdBy">
          <mat-header-cell *matHeaderCellDef>Created By</mat-header-cell>
          <mat-cell *matCellDef="let quote">{{quote.createdBy}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="endUserName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>End User</mat-header-cell>
          <mat-cell *matCellDef="let quote">{{quote.endUserName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="quotePrice">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Total Price</mat-header-cell>
          <mat-cell *matCellDef="let quote">{{quote.quotePrice | currency}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="modified">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</mat-header-cell>
          <mat-cell *matCellDef="let quote">{{quote.modified | date: 'MM/dd/yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="quoteexpirydate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Expiry Date</mat-header-cell>
          <mat-cell *matCellDef="let quote">{{quote.quoteexpirydate | date: 'MM/dd/yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let quote">{{quote.status}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No Quotes Found.
          </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let quote; columns: displayedColumns"></mat-row>


        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':dataSource.data != null}"></mat-footer-row>
      </mat-table>
    

      <mat-paginator [hidden]="isQuoteListEmpty()"
                     [length]="dataSource.Quotecount"
                     showFirstLastButtons="true"
                     [pageSizeOptions]="[25, 50, 75, 100]"
                     (page)="pageEvent = $event; onPaginationChange($event)">
      </mat-paginator>
    </div>
</div>
</div>
